.title-init {
  font-weight: 400;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  img {
    margin-top: 10vh;
    width: 200px;
  }

  p {
    font-size: 25px;
    margin: 10px;
    span {
      font-weight: 600;
    }
  }

  button {
    padding: 10px 10px 10px 10px;
    margin: 10px;
    background-color: rgb(190, 0, 32);
    color: aliceblue;
  }

  button:hover {
    transform: scale(1.1);
    background-color: rgb(241, 0, 40);
    cursor: pointer;
  }
}
