.detailed {
    margin: 6vh;

    h1 {
        margin: 10px;
    }

    .hotel-info {
        display: flex;
        gap: 10px;
        align-items: center;
     
        h2{
            font-size: 18px;
        }
    }

    .img-detailed {
        display: flex;
        gap: 20px;
        margin: 10px;

        img {
            width: 30vw;
        }

        .map {
            width: 100%;
        }
    }

    .detailed-city {
        margin: 10px;
        
    }

    .detailed-address {
        display: flex;
    }

    p{
        margin: 10px;
        text-align: justify;
    }
}

@media(width < 600px) {
    .detailed{

        .img-detailed{
            flex-direction: column;

            .map{
                width: 100%;
            }
        }

    }
}